# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS / secrets
.aws/
*.pem
*.key
.env
.env.*

# Python (for later)
__pycache__/
*.pyc
venv/
.venv/

# Editor
.vscode/
.idea/
*.swp
